<div class="header container-fluid"> 
  <!-- Second navbar for profile settings -->
  <nav class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Demo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-4">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav><!-- /.navbar -->
</div><!-- /.container-fluid -->